.wrapper {
  margin: 0 auto;
}
.span3 {
  float: none;
  margin: 10px auto;
}
.span1.btn {
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 60px;
  line-height: 52px;
  font-weight: bold;
  font-size: 30px;
}
.oCount {
  margin-left: 20px;
}
.input-prepend .span1 {
  text-align: right;
}
.refreshGame {
  display: block;
  margin: 0 auto;
}
form {
  margin: 0 0 10px 14px;
}
.container {
  width: auto;
}
.container > .row {
  margin-left: 0;
}
